* {
    margin:0;
    padding: 0;
    font-family: 'Amazon Ember', arial,sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e8e4e4;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

