.hero-section {
    background-image: url("../../src/assets/hero-section.jpg");
    background-color: #f5f5f5;
    background-blend-mode: multiply;
    background-size: cover;
    height: 600px;
}

.mask-image {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    z-index: -1;
}

.hero-msg-div {
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px 10px 14px;
    position: absolute;
    top: 355px;
    left: 20px;
    right: 20px;
    z-index: 1;
}

.hero-msg {
    font-size: 14px;     
    color: #252828;
}

.hero-msg-link {
    color: #007185;
    transition: all 0.015s;
    z-index: 3;
}

.hero-msg-link:hover {
    color: #265d66;
    text-decoration: underline;
}



