.back-to-top-pannel {
    color: white;
    background-color: #38445c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.1s;
    cursor: pointer;
}

.back-to-top-pannel:hover {
    background-color: #43506b; 
}

.footer-vertical-row-1 {
    background-color: #2e384a;
    color: #ffffff;
    min-height: 390px;
    padding: 40px 0; 
}

.footer-vertical-column {
    height: 292px;
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    align-items: center;
}

.footer-link-columns {
    height: 100%;
    padding: 0 10px;
}

.footer-link-col-head {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-li-link {
    margin-bottom: 6px;
}

.footer-a-link {
    text-decoration: none;
    color: #dcdada;
    font-size: 14px;
    font-weight: 500;
    transition:  text-decoration 0.1s;
    cursor: pointer;
}

.footer-a-link:hover {
    text-decoration: underline;
}

.arrow {
    font-size: 10px;
    margin-right: 5px;
}

.footer-col-spacer {
    width: 80px;
    height: 292px;
    padding: 0 10px;
}

.globe-img {
    height: 15px;
    width: 15px;
    object-fit: cover;
    object-position: center;
}

.footer-vertical-row-2 {
    background-color: #2e384a;
    color: #ffffff;
    border-top:  1px solid rgb(58, 69, 83);
}

.up-and-down-arrow {
    font-size: 10px;
    color: #626363;
    margin-left: 3px;
    padding-top: 8px;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg); /* Rotates the icon to point upwards */
}

.footer-logo {
    width: 100%;
    height: 30px;
    object-fit: contain;
    object-position: center;
    min-width: 113px;
}

.footer-flag-img {
    width: 19px;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-right: 5px;
}