/*footer section 1*/
.back-to-top-pannel {
    color: white;
    background-color: #38445c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.1s;
    cursor: pointer;
}

.back-to-top-pannel:hover {
    background-color: #43506b; 
}

/*footer section 2*/
.footer-vertical-row-1 {
    background-color: #333c4c;;
    color: #ffffff;
    min-height: 390px;
    padding: 40px 0; 
}

.footer-vertical-column {
    height: 292px;
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    align-items: center;
}

.footer-link-columns {
    height: 100%;
    padding: 0 10px;
}

.footer-link-col-head {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-li-link {
    margin-bottom: 6px;
}

.footer-a-link {
    color: #dcdada;
    font-size: 14px;
    font-weight: 500;
    transition:  text-decoration 0.1s;
    cursor: pointer;
}

.footer-a-link:hover {
    text-decoration: underline;
}

.arrow {
    font-size: 10px;
    margin-right: 5px;
}

.footer-col-spacer {
    width: 80px;
    height: 292px;
    padding: 0 10px;
}

/*footer section 3*/
.footer-vertical-row-2 {
    background-color: #333c4c;
    border-top:  1px solid rgb(69, 82, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.footer-logo-container {
    margin-right: 80px;
    height: 30px;
}

.footer-logo {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.language-selector {
    display: inline-block; 
}

.language-options,.country-option,.currency-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #898585;
    border-radius: 3px;
    margin-right: 5px;
}

.language-options {
    padding: 5px 8px 6px 8px;
}

.globe-img {
    height: 16px;
    width: 16px;
    object-fit: cover;
    object-position: center;
}

.language-text,.currency-text,.country-name {
    color: #dcdada;
    font-size: 13px;
    font-weight: 500;
}

.language-text {
    padding: 0 25px 0 8px; 
}

.up-and-down-arrow-container {
    position: relative; 
    display: inline-block;
}

.up-and-down-arrow {
    font-size: 9px;
    color: #727171;
    transition: transform 0.3s ease;
}

.top-arrow-rotated {
    position: absolute; 
    top: 2px; 
    left: 0;
    transform: rotate(180deg); 
}

.currency-option {
    padding: 6px 18px 6px 8px;
}

.currency-symbol {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding-right: 8px;
}

.currency-text {
    padding-right:8px
}

.country-option {
    padding: 2px 18px 2px 8px;
}

.country-flag-img {
    width: 19px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.country-name {
    padding: 0 8px;
}

/*footer section 4......section 2 margin*/ 
.footer-vertical-row-3 {
    background-color: #242c37;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-desc-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.footer-desc-items-li-links {
    display: flex;
    flex-direction: column;
}

.footer-desc-items-col-head {
    color: rgb(227, 225, 225);
    font-size: 12px;
}

.footer-desc-items-link {
    color: #a1a0a0;
    font-size: 12px;
}
