
.hero-section {
    background-image: url("/images/hero-section\(3\)\ \(3\).jpg");
    background-size: cover;
    height: 600px;
    z-index: 1;
    opacity: 0.9;
    background-blend-mode: multiply;
}

.mask-image {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.hero-msg-div {
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px 10px 14px;
    z-index: 3;
}

.hero-msg {
    font-size: 14px;
    color: #252828;
}

.hero-msg-link {
    color: #007185;
    text-decoration: none;
    transition: all 0.015s;
}

.hero-msg-link:hover {
    color: #D75555;
    text-decoration: underline;
}

