.main-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -288px;
}

.box-column {
    background-color: white;
    height: 420px;
}

.box-row {
    background-color: white;
    height: 261.500px;
}

.box-outer-row {
    padding: 10px 20px;
}

.row-gap {
    margin-top: 20px;
}


.box-1-row,.box-2-row,.box-5-row,.box-8-row,.box-11-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 22px;
}

.product-headline {
    font-size: 20px;
    margin: 25px 0 12px 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 13px;
    padding: 0 20px 0 20px;
}

.product-image {
    width: 128px;
    height: 105px;
    object-fit: cover;
    object-position: center;
}

.product-name {
    font-size: 12px;
    color: #5F5F5F;
}

.explore-description {
    font-size: 13px;
    color: #099ab4;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    transition: all 0.15s;
}

.explore-description:hover {
    color: #D75555;
}

.second-row-image {
    margin: 0 20px 0 20px;
    width: 270px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.second-row-description {
    margin-top: 18px;
}

.box-3-row,.box-4-row,.box-6-row,.box-7-row,.box-9-row,.box-10-row,.box-12-row {
    max-width: 100%;
    overflow: hidden; 
    padding: 0 10px;
}


.popular-items-description {
    font-size: 20px;
    margin: 25px 0 5px 10px;
}

ul.images-row {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.image-1-box9,.image-2-box9,.image-3-box9,.image-5-box9 {
    height: 190px;
}

.image-4-box9 {
    width: 133px;
}

.image-6-box9 {
    width: 210px;
}

.image-7-box9 {
    height: 185px;
}

.image-8-box9 {
    height: 180px;
}

.image-1-box10 {
    height: 180px;
    padding-right: 3px;
}

.image-2-box10 {
    width: 220px;
}

.image-3-box10,.image-4-box10 {
    height: 180px;
    padding: 0 25px 0 25px;
}

.image-5-box10 {
    width: 250px;
    padding-right: 5px;
}

.image-6-box10 {
    width: 195px;
    padding-right: 5px;
}

.image-7-box10 {
    width: 190px;
}

.image-1-box15 {
    width: 240px;
}

.image-1-box16,.image-2-box16,.image-4-box16,.image-7-box16 {
    width: 150px;
    height: 195px;
}

.image-2-box16 {
    width: 150px;
    height: 195px
}

.image-3-box16 {
    height: 180px;
    width: 160px;
}

.image-5-box16 {
    height: 140px;
    width: 250px;
}

.image-6-box16 {
    height: 170px;
    width: 170px;
}

.image-1-box17 {
    height: 180px;
    width: 130px;
}

.image-2-box18 {
    height: 180px;
    width: 120px;
}

.image-3-box18 {
    height: 180px;
    width: 130px;
}

.image-4-box18 {
    height: 180px;
    width: 150px;
}

.image-5-box18 {
    height: 180px;
    width: 130px;
}

.image-6-box18 {
    height: 180px;
    width: 170px;
}

.image-7-box18 {
    height: 90px;
    width: 280px;
}

.image-9-box18 {
    width: 80px;
    height: 190px;
}

.image-1-box21,.image-2-box21,.image-3-box21 {
    height: 190px;
}

.image-4-box21 {
    height: 185px;
    width: 175px;
}

.image-5-box21 {
    width: 140px;
    height: 185px;
}

.image-6-box21 {
    height: 185px;
}

.image-7-box21 {
    height: 80px;
    width: 200px;
}

.image-8-box21 {
    width: 90px;
    height: 180px;
}

.image-1-box22 {
    width: 160px;
    height: 150px;
}

.image-2-box22 {
    height: 155px;
    width: 50px;
}

.image-3-box22 {
    width: 160px;
    height: 60px;
}

.image-4-box22 {
    width: 180px;
    height: 150px;
}

.image-5-box22 {
    width: 170px;
    height: 150px;
}

.image-6-box22 {
    width: 120px;
    height: 150px;
}

.image-7-box22 {
    width: 120px;
    height: 150px;
}


.box-13-row {
    background-color: #ffffff;
    margin-top: 25px;
    height: 210px;
    position: relative;
}

.sign-in-div {
    border: 1px solid rgb(225, 215, 215);
    border-radius: 5px;
    height: 148px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;

    display: flex; 
    flex-direction: column;  
    align-items: center;    
    padding-top: 35px;
}

.recommendations-text {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 8px;
}

.sign-in-button {
    background-color: #ffdc14;
    border: none;
    border-radius: 50px;
    padding: 8px 95px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.01s;
}

.sign-in-button:hover {
    background-color: #f9d404;
}

.new-customer-text {
    font-size: 12px;
    margin-top: 3px;
}

.start-here-link {
    color: #0a8ba2;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.01s;
}

.start-here-link:hover {
    color: #076474;
}








