.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    position: absolute;
    top: 412px;
    left: 20px;
    right: 20px;
    z-index: 4;
    background: linear-gradient(to bottom, transparent 0%, transparent 10%, #e4e4e4 100%);  

}

.box {
    background-color: white;
    height: 385px;
}