.main-content {
    position: absolute;
    top: 412px;
    left: 20px;
    right: 20px;
    z-index: 4;
    background-color: rgba(228, 228, 228, 0.10); 
}

.box-column {
    background-color: white;
    height: 420px;
}

.box-row {
    background-color: white;
    height: 261px;
}

.box-2-row,.box-3-row,.box-4-row,.box-5-row,.box-6-row,.box-7-row,.box-8-row,.box-9-row,.box-10-row,.box-11-row,.box-12-row {
    margin-top: 18px;
}

.box-1-row,.box-2-row,.box-5-row,.box-8-row,.box-11-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.product-headline {
    font-size: 20px;
    margin: 25px 0 12px 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 13px;
    padding: 0 20px 0 20px;
}

.product-image {
    width: 130px;
    height: 105px;
    object-fit: cover;
    object-position: center;
}

.product-name {
    font-size: 12px;
    color: #5F5F5F;
}

.explore-description {
    font-size: 13px;
    color: #099ab4;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    transition: all 0.15s;
}

.explore-description:hover {
    color: #D75555;
}

.second-row-image {
    margin: 0 20px 0 20px;
    width: 270px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.second-row-description {
    margin-top: 18px;
}

.box-3-row {
    max-width: 100%;
    overflow: hidden; 
    padding: 0 10px;
}


.popular-items-description {
    font-size: 20px;
    margin: 25px 0 5px 10px;
}

ul.images-row {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 5px;
}

.image-1-box9,.image-2-box9,.image-3-box9,.image-5-box9 {
    height: 190px;
}

.image-4-box9 {
    width: 133px;
}

.image-6-box9 {
    width: 210px;
}

.image-7-box9 {
    height: 185px;
}

.image-8-box9 {
    height: 180px;
}

.box-4-row {
    max-width: 100%;
    overflow: hidden; 
    padding: 0 10px;
}

.image-1-box10 {
    height: 190px;
}

.image-1-box11 {
    width: 170px;
}


